

.EntListWindow {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 3000px;
  border-style: solid;
  border:  #F1F1F1;
  font-size:15px; 
  overflow-y: scroll;
}

.EntListWindowContainer{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: 24px;
  width: 100%;
  height:100%;
}

.EntListHeader{
  height: 5.27%;
  background-color:  #F1F1F1;
  color: black;
  font-size: 24px;
}






